.side-bar
  .side-bar__user-name
    .top-items  
      .top-items__name
        yabu
      .top-items__menu
        = link_to "#", class: "top-items__edit" do
          = icon("fas", "edit")
          %span<>
        = link_to "#", class: "top-items__cog" do
          = icon("fas", "cog")
  .side-bar__group-list
    .btm-group
      .btm-group__name
        = link_to "#", class: "btm-group__link" do
          グループ
      .btm-group__message
        = link_to "#", class: "btm-group__messagelink" do
          まだメッセージは有りません

    .btm-group
      .btm-group__name
        = link_to "#", class: "btm-group__link" do
          テックエキスパート
      .btm-group__message
        = link_to "#", class: "btm-group__messagelink" do
          まだメッセージは有りません