.side-bar
  .side-bar__user-name
    .top-items  
      .top-items__name
        = current_user.name
      .top-items__menu
        = link_to new_group_path, class: "top-items__edit" do
          = icon("fas", "edit")
          %span<>
        = link_to edit_user_path(current_user) , class: "top-items__cog" do
          = icon("fas", "cog")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .btm-group
        = link_to '#' do
          .btm-group__name
            = link_to "#", class: "btm-group__link" do
              = group.name
          .btm-group__message
            = link_to "#", class: "btm-group__messagelink" do
              まだメッセージは有りません